<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293227396933-nq81s2ce3giprtuflaq2qbq112rf4ur2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293227396933-nq81s2ce3giprtuflaq2qbq112rf4ur2</string>
	<key>API_KEY</key>
	<string>AIzaSyDQlOmRoO0IitiL7u5ALRHaCZR_znv47fo</string>
	<key>GCM_SENDER_ID</key>
	<string>293227396933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.ru.irkutskoil.portal</string>
	<key>PROJECT_ID</key>
	<string>ink-mobile-9dc08</string>
	<key>STORAGE_BUCKET</key>
	<string>ink-mobile-9dc08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293227396933:ios:6d3091e4a67f7c06c2482c</string>
</dict>
</plist>